@model KeelteKooli.Models.Teacher
@{
    ViewBag.Title = "Create Teacher";
}

<h2>Create Teacher</h2>

@using (Html.BeginForm("CreateTeacher", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        @Html.LabelFor(m => m.Nimi)
        @Html.TextBoxFor(m => m.Nimi, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Kvalifikatsioon)
        @Html.TextBoxFor(m => m.Kvalifikatsioon, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = "required" })
    </div>

    <div class="mb-3">
        @Html.Label("Password for login")
        <input type="password" name="Password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-secondary" href="@Url.Action("Teachers","Admin")">Cancel</a>
}